In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "data/master.csv"

df = pd.read_csv(file_path)

In [6]:
df.head(30)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent

In [13]:
df = df.rename(columns={'country': 'Country', 'year': 'Year', 'sex': 'Gender', 'age': "Age Group", 'suicides_no': 'Suicides', 'population': 'Population', 'suicides/100k pop': 'Suicide per 100k', 'generation':'Generation'})
df.drop(columns=['country-year'])
df.head()

,Country,Year,Gender,Age Group,Suicides,Population,Suicide per 100k,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),Generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

## General Numbers

In [16]:
# Total Suicides

total = df['Suicides'].sum()
total_suicides = pd.DataFrame({"Total Suicides": [total]})

total_suicides

   Total Suicides
0         6748420

## Gender Analysis

In [21]:
total_gender = df['Gender'].value_counts()
gender_percentage = total_gender/total * 100
gender_sum = pd.DataFrame({"Total": total_gender,
                         "Percentage": gender_percentage
                          })
#format %
gender_sum["Percentage"] = gender_sum["Percentage"].map("{:.2f}%".format)
gender_sum

#Nope

        Total Percentage
female  13910      0.21%
male    13910      0.21%